<!DOCTYPE html>
<html>
	<head>
		<title>SoundMind</title>
		<link
			rel="icon"
			type="image/x-icon"
			href="/static/images/favicon_io/favicon.ico"
		/>
		<link rel="stylesheet" href="/static/css/analysis-complete.css" />
	</head>
	<body>
		<div id="top-emotion-container">
			<h3>Your top detected emotion is:</h3>
			<h3 id="top_emotion">{{top_emotion}}</h3>
		</div>
		<div id="results-container">
			<div class="track-container">
				{% if top_emotion == "Joy" %}
				<h5>Happy Vibes 2025</h5>
				{% elif top_emotion == "Sadness" %}
				<h5>Calming</h5>
				{% elif top_emotion == "Fear" %}
				<h5>Comforting</h5>
				{% elif top_emotion == "Anger" %}
				<h5>Feeling Vengeful</h5>
				{% endif %}
				<img src="{{track1_pic}}" class="track-pic" />
				<div class="names-container">
					<p class="track-name">{{track1_name}}</p>
					<p class="artist-name">{{artist1_name}}</p>
				</div>
				<div class="now-playing-circle"></div>
				<div class="now-playing-bar"></div>
				<div class="media-control-container">
					<img
						id="shuffle-icon"
						class="media-control-outer"
						src="/static/images/media-controls/shuffle.png"
					/>
					<img
						class="media-control-inner"
						src="/static/images/media-controls/prev.png"
					/>
					<a href="{{track2_url}}" target="_blank">
						<button class="play-button">
							<div class="triangle-play-button"></div>
						</button>
					</a>
					<img
						class="media-control-inner"
						src="/static/images/media-controls/next.png"
					/>
					<img
						id="repeat-icon"
						class="media-control-outer"
						src="/static/images/media-controls/repeat.png"
					/>
				</div>
			</div>
			<div class="track-container">
				{% if (top_emotion == "Joy") %}
				<h5>Feel Good</h5>
				{% endif %} {% if (top_emotion == "Sadness") %}
				<h5>Comforting</h5>
				{% endif %} {% if (top_emotion == "Fear") %}
				<h5>Calming Instrumentals</h5>
				{% endif %} {% if (top_emotion == "Anger") %}
				<h5>Rap</h5>
				{% endif %}
				<img src="{{track2_pic}}" class="track-pic" />
				<div class="names-container">
					<p class="track-name">{{track2_name}}</p>
					<p class="artist-name">{{artist2_name}}</p>
				</div>
				<div class="now-playing-circle"></div>
				<div class="now-playing-bar"></div>
				<div class="media-control-container">
					<img
						id="shuffle-icon"
						class="media-control-outer"
						src="/static/images/media-controls/shuffle.png"
					/>
					<img
						class="media-control-inner"
						src="/static/images/media-controls/prev.png"
					/>
					<a href="{{track2_url}}" target="_blank">
						<button class="play-button">
							<div class="triangle-play-button"></div>
						</button>
					</a>
					<img
						class="media-control-inner"
						src="/static/images/media-controls/next.png"
					/>
					<img
						id="repeat-icon"
						class="media-control-outer"
						src="/static/images/media-controls/repeat.png"
					/>
				</div>
			</div>
		</div>
		<div id="analysis-container">
			<h3>Top 3 Emotions Detected:</h3>
			<div class="probability">
				<p class="prob-text">
					{{ analysis[0]["label"].title()}}: {{(analysis[0]["score"] *
					100)|round(2)}}%
				</p>
				<div
					class="prob-bar"
					style="width: {{ analysis[0]['score'] * 100 }}%;"
				></div>
			</div>
			<div class="probability">
				<p class="prob-text">
					{{ analysis[1]["label"].title()}}: {{(analysis[1]["score"] *
					100)|round(2)}}%
				</p>
				<div
					class="prob-bar"
					style="width: {{ analysis[1]['score'] * 100 }}%;"
				></div>
			</div>
			<div class="probability">
				<p class="prob-text">
					{{ analysis[2]["label"].title()}}: {{(analysis[2]["score"] *
					100)|round(2)}}%
				</p>
				<div
					class="prob-bar"
					style="width: {{ analysis[2]['score'] * 100 }}%;"
				></div>
			</div>
		</div>
	</body>
</html>
